<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dev Feed</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Software Developer Link Feed">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="bower_components/foundation/css/foundation.css" />
        <!-- build:css(.tmp) styles/main.css -->
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!-- Header and Nav -->
        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <h1>Developer Feed</h1>
                </div>
            </div>
        </div>
        <!-- End Header and Nav -->
        <div class="row">
            <!-- Nav Sidebar -->
            <!-- This is source ordered to be pulled to the left on larger screens -->
            <div class="large-3 columns ">
                <div class="panel">

                  <form>
                    <div class="row">
                      <fieldset>
                        <legend> Post a Link </legend>
                        <div class="large-12 columns">
                          <input type="text" id="postedBy" name="postedBy" placeholder="Your Name" />
                          <input type="text" id="url" name="url" placeholder="Link" />
                          <a href="#" id="post" class="button tiny medium-push-5">Submit!</a>
                        </div>
                      </fieldset>
                    </div>
                  </form>
                    <a href="#"><img src="http://placehold.it/300x240&text=[img]" /></a>
                    <h5><a href="#">Your Name</a></h5>
                    <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
                        <section class="section">
                            <h5 class="title"><a href="#">Section 1</a></h5>
                        </section>
                        <section class="section">
                            <h5 class="title"><a href="#">Section 2</a></h5>
                        </section>
                        <section class="section">
                            <h5 class="title"><a href="#">Section 3</a></h5>
                        </section>
                        <section class="section">
                            <h5 class="title"><a href="#">Section 4</a></h5>
                        </section>
                        <section class="section">
                            <h5 class="title"><a href="#">Section 5</a></h5>
                        </section>
                        <section class="section">
                            <h5 class="title"><a href="#">Section 6</a></h5>
                        </section>
                    </div>

                </div>
            </div>

            <script id="PostTemplate" type="text/template">
              <% _.each(posts, function(post) { %>
                <div class="row">
                  <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
                  <div class="large-10 columns">
                    <p><strong><%= post.postedBy %> posted:</strong> <%= post.url %></p>
                    <ul class="inline-list">
                      <li><a href="">Reply</a></li>
                      <li><a href="">Share</a></li>
                    </ul>
                  </div>
                </div>
              <% }); %>
            </script>
            <!-- Main Feed -->
            <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
            <div class="large-6 columns" id="PostFeed">

              <!-- Feed Entry -->
              <div class="row">
                <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
                <div class="large-10 columns">
                  <p><strong>Placeholder Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
                  <ul class="inline-list">
                    <li><a href="">Reply</a></li>
                    <li><a href="">Share</a></li>
                  </ul>

                  <h6>2 Comments</h6>
                  <div class="row">
                    <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]" /></div>
                    <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
                  </div>
                  <div class="row">
                    <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]" /></div>
                    <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
                  </div>
                </div>
              </div>
              <!-- End Feed Entry -->
            </div>
     
            <!-- Right Sidebar -->
            <!-- On small devices this column is hidden -->
            <aside class="large-3 columns hide-for-small">
              <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
              <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
            </aside>
 
        </div>
 
        <footer class="row">
            <div class="large-12 columns">
                <hr />
                <div class="row">
                <div class="large-5 columns">
                  <p>© Matt Kehlmann</p>
                </div>
                    <div class="large-7 columns">
                        <ul class="inline-list right">
                            <li><a href="#">Section 1</a></li>
                            <li><a href="#">Section 2</a></li>
                            <li><a href="#">Section 3</a></li>
                            <li><a href="#">Section 4</a></li>
                            <li><a href="#">Section 5</a></li>
                            <li><a href="#">Section 6</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <!-- endbuild -->
    </body>
</html>
